#serverList {
    width: 70px;
    overflow-y: scroll;
}

#channelList {
    width: 300px;
}

#channelContainer {
    overflow-y: scroll;
}

#memberList {
    width: 300px;
    justify-self: end;
}

#memberContainer {
    overflow-y: scroll;
}

/* #messagePanel {
    
} */



#messageList {
    overflow-y: scroll;
}

#messageInput {
    height: 45px;
}

#userInfo {
    height: 45px;
}

.borderless {
    border: 0;
}

#serverInfo {
    height: 38px;
}

.messagePanelTitle {
    height: 38px;
}

.react-icons {
    vertical-align: middle;
}

.dropdown-toggle::after {
    display: none !important; 
}

.message {
    border-bottom: 1px solid #dee2e6;
}

.serverIcon {
    font-size: 24px !important;
    width: 50px;
    height: 50px !important;
}

.hoverable:hover {
    cursor:pointer;
}

.serverIcon:hover {
    cursor:pointer;
}

.channel:hover {
    cursor: pointer;
}

.member:hover {
    cursor: pointer;
}

.friend-icon {
    cursor: pointer;
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
    border-radius: 50px;
}